.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.swiper-container {
    width: 100vw;
    background-color: #000;
} 
.container .swiper-container {
  width: 100%;
  background-color: unset;
  padding: 0 40px;
}
.container .swiper-button-prev {
  transform: translateX(-10px);
}
.container .swiper-button-next {
  transform: translateX(10px);
}
.swiper-container img {
  width: 75%;
  display: block;
  margin: 0 auto;
}
main {
  width: 75vw;
  margin: 0 auto;
}
.container {
  margin-top: 100px;

}
.container h1 {
  text-align: left;
  background: #EEE url(data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAIAAAAmkwkpAAAAHklEQVQImWNkYGBgYGD4//8/A5wF5SBYyAr+//8PAPOCFO0Q2zq7AAAAAElFTkSuQmCC) repeat;
  text-shadow: 5px -5px black, 4px -4px white;
  font-weight: bold;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.rows {
  display: flex;
  justify-content: space-between;
}
.col {
  width: 300px;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 6px;
  position: relative;
  padding-bottom: 30px;
}
.col img {
  display: block;
  width: 100%;
}
.col p {
  padding: 0 12px;
}
.inf {
  position: absolute;
  bottom: 12px;
  width: 90%;
  left: 5%;
  display: flex;
  justify-content: space-between;
}
.content {
  font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}
