.card-list{
  margin: 60px 10px;
  border: grey;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 300px;

}

.card-list:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.movieName{
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     font-size: large; 
     color: grey;
     padding: 25px;
  } 

.Tit{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  opacity: .5;
}
p{
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: large;
}

#link{
  border: none;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  float: right;
  text-decoration: none;
}

.card {
  display: inline-block;
}
